@font-face {
	font-family: 'TTLakes';
	src: url('/fonts/TTLakes-Bold.eot');
	src: url('/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TTLakes-Bold.woff') format('woff'),
		url('/fonts/TTLakes-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'TTLakes';
	src: url('/fonts/TTLakes-Regular.eot');
	src: url('/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TTLakes-Regular.woff') format('woff'),
		url('/fonts/TTLakes-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

body {
	font-family: "TTLakes", "Arial", serif;
	font-style: normal;
	font-size: 16px;
	color: #1B1C21;
}

.brand {
	box-sizing: border-box;
	min-width: 320px;
	height: 100%;
	background-color: #F8F8F8;
}

.header {
	box-sizing: border-box;
	min-width: 320px;
	background-image: linear-gradient(to right, #F8F8F8 40%, #FFFFFF 100%);
}

.header__title {
	box-sizing: border-box;
	margin: 0;
	padding: 16px;
	color: #7E7E82;
	text-transform: uppercase;
	font-size: 16px;
	font-style: normal;
	border-top: 2px solid #D9FFF5;
}

.nav-menu{
	position: relative;
	height: 140px;
}

.list-brand {
	padding-left: 16px;
}

.list-brand__item {
	width: 240px;
	height: 72px;
}

.list-brand__link {
	display: flex;
	justify-content: start;
	align-items: center;
	box-sizing: border-box;
	width: 240px;
	height: 72px;
	padding: 16px;
	background-color: #FFFFFF;
	background-image: url("/image/Go.png");
	background-repeat: no-repeat;
	background-size: content;
	background-position: 90% 50%;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
}

.brand,
.swiper-pagination {
    bottom: 18px;
}

.show-more-button {
	display: none;
}

@media (min-width: 768px) {
	.brand {
		min-width: 768px;
		padding-bottom: 20px;
	}

	.header {
		min-width: 768px;
	}

	.nav-menu {
		position: relative;
		height: 206px;
	}

	.nav-menu--opened {
		position: relative;
		height: 100%;
	}

	.list-brand {
		display:flex;
		justify-content: center;
		gap: 24px;
		flex-wrap: wrap;
		padding-left: 0;
	}

	.list-brand
  .list-brand__item {
    width: 224px;
    height: 72px;
  }

	.list-brand__link {
		width: 224px;
		height: 72px;
		padding: 16px;
	}

	.show-more-button {
		display: block;
		background-color: #F8F8F8;
		cursor: pointer;
		box-sizing: border-box;
		padding-left: 24px;
		width: 150px;
		height: 20px;
	}

	.show-more-button__text {
		font-family: "TTLakes", "Arial", sans-serif;
		color: #1B1C21;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-wrap: nowrap;
		padding-left: 25px;
		background-image: url("/image/Expand.png");
		background-repeat: no-repeat;
		background-position: 0 -1px;
	}

	.swiper-pagination {
		display: none;
	}
}

@media (min-width: 1120px) {
	.brand {
			max-width: 1120px;
			margin: 0 auto;
	}
}
